Options -Indexes

# Tüm istekleri index.php'ye yönlendir (public/ içindeyken)
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
